body {
    background-color: #fafafa !important;
}
hr {
    border-top-width: 1px;
}
hr {
    border-top-style: dotted;
}
hr {
    border-top-color: black;
}
hr {
    border-image: none;
}
hr {
    color: white;
}
@font-face {
    font-family: "AFSandarenu";
    src: url("./font/AFSandarenu-Regular.eot");
    src: url("./font/AFSandarenu-Regular.eot?#iefix") format("embedded-opentype"), url("./font/AFSandarenu-Regular.woff2") format("woff2"), url("./font/AFSandarenu-Regular.woff") format("woff"),
        url("./font/AFSandarenu-Regular.ttf") format("truetype"), url("./font/AFSandarenu-Regular.svg#AFSandarenu-Regular") format("svg"), url("./font/AFSandarenu-Regular.otf") format("otf");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "AdBhashitha";
    src: url("./font/AdBhashitha.eot");
    src: url("./font/AdBhashitha.eot?#iefix") format("embedded-opentype"), url("./font/AdBhashitha.otf") format("otf"), url("./font/AdBhashitha.svg#AdBhashitha") format("svg"), url("./font/AdBhashitha.woff2") format("woff2"),
        url("./font/AdBhashitha.woff") format("woff"), url("./font/AdBhashitha.ttf") format("truetype");
    font-style: normal;
}
@font-face {
    font-family: "IsiAlakamanda";
    src: url("./font/IsiAlakamanda.eot");
    src: url("./font/IsiAlakamanda.eot?#iefix") format("embedded-opentype"), url("./font/IsiAlakamanda.svg#IsiAlakamanda") format("svg"), url("./font/IsiAlakamanda.otf") format("otf"), url("./font/IsiAlakamanda.woff") format("woff"),
        url("./font/IsiAlakamanda.ttf") format("truetype"), url("./font/IsiAlakamanda.woff2") format("woff2");
}
[class~="sandarenufont"] {
    font-family: "AFSandarenu";
}
[class~="sandarenufont"] {
    background: -webkit-linear-gradient(78deg, #002252, #34a5ff 80%);
}
[class~="sandarenufont"] {
    -webkit-background-clip: text;
}
[class~="sandarenufont"] {
    -webkit-text-fill-color: transparent;
}
[class~="AdBhashithafont"] {
    font-family: "AdBhashitha";
}
[class~="AdBhashithafont"] {
    color: #131313;
}
[class~="AdBhashithafont"] {
    font-weight: 600;
}
[class~="AdBhashithafont"] {
    font-size: 1.125pc;
}
[class~="AdBhashithafont"] {
    line-height: 1.7 !important;
}
.isiAlakamanda {
    font-family: "IsiAlakamanda";
}
.isiAlakamanda {
    font-style: normal;
}
.isiAlakamanda {
    font-size: 22.5pt;
}
[class~="isitextheader"] {
    font-size: 37.5pt;
}
